// -----------------------------------------------------------------------------
//
//    Fonts
//
// -----------------------------------------------------------------------------

$fontsDirectory: '/assets/fonts/';

$baseFontSize: 16px;

$h1: 36;

$h2: 30;

$h3: 24;

$p: 16;

$h4: $p;

$h5: 14;

$h6: 11;

// -----------------------------------------------------------------------------
//
//    Colors
//
// -----------------------------------------------------------------------------

$white: #FFF;

$gray1: #FAFAFA;

$gray2: #F0F0F0;

$gray3: #B4B4B4;

$gray4: #6E6E6E;

$gray5: #363636;

$dark: #1F1F1F;

$black: #000;

$F: $white;

$B: $black;

$danger: #e61111;

// -----------------------------------------------------------------------------
//
//    Transitions
//
// -----------------------------------------------------------------------------

$trans: .1s;

$anim: .5s;

// -----------------------------------------------------------------------------
//
//    Layout 
//
// -----------------------------------------------------------------------------

$grid-columns: 24;

// -----------------------------------------------------------------------------
//
//    Other
//
// -----------------------------------------------------------------------------

$z-layers: (
    'sky',
    'popover',
    'tooltip',
    'dropdown',
    'alert',
    'modal',
    'modal-curtain',
    'header',
    'main',
    'footer',
    'base',
    'dungeon',
    'blackHole'
);

$custom-widths: ();

// -----------------------------------------------------------------------------
//
//    Custom breakpoints
//
// -----------------------------------------------------------------------------
$breakpoints: (
    'ms': 0px,    // Mobile Small
    'ml': 500px,    // Mobile Large
    'ts': 768px,    // Tablet Small
    'tl': 992px,    // Tablet Large
    'ls': 1200px,   // Laptop Small
    'll': 1350px,   // Laptop Large
    'ds': 1600px,   // Desktop Small
    'dl': 1900px,   // Desktop Large
    'ws': 2200px,   // Widescreen Small
    'wl': 2500px    // Widescreen large
);