html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $gray2;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul, menu, dir {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

@for $w from 1 through 9 {
    .weight_#{$w*100} {
        font-weight: $w*100;
    }
}

footer {
    padding: 10px 0;
}

main {
    flex-grow: 1;
}

.container {
    width: 800px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    
    p ~ & {
        margin-top: 10px;
    }
}

[disabled], 
.is-disabled .Select-control {
    cursor: not-allowed;
    // pointer-events: none;
    opacity: .7;
}

.btn {
    padding: 10px;
    min-width: 150px;
    background-color: $F;
    outline: none;
    border: solid 1px $gray3;
    border-radius: 3px;
    transition: all $trans ease-out;
    
    &:enabled {
        cursor: pointer;
    }

    &:enabled:hover {
        background-color: $gray4;
        border-color: $gray4;
        color: $F;
        transition: all $trans ease-out;
    }
}