@import '../theme/settings';
@import '../helpers/media-queries';

.layout {
    display: flex;
    flex-wrap: wrap;
    
    &.sm {
        margin: -5px;
    }

    &.sm > * {
        padding: 5px;
    }

    &.md {
        margin: -10px;
    }

    &.md > * {
        padding: 10px;
    }

    &.lg {
        margin: -15px;  
    }

    &.lg > * {
        padding: 15px;
    }
}

$breakpointsReady: ();

@each $break, $point in $breakpoints {
    $newBreakpoint: ($break: $point);
    $breakpointsReady: map-merge($breakpointsReady, $newBreakpoint);
}

@each $break, $point in $breakpointsReady {
    @include mq($point) {

        // -----------------------------------------------------------------------------
        //      Flex basis breakpoints - determine how many parts in a row
        //      If you want 5 equal divs use: ls_5-row; if 8 use: ls_8-row 
        // -----------------------------------------------------------------------------
        @for $i from 1 through $grid-columns {
            .#{$break}_#{$i}-row {
                flex: 0 0 #{100%/$i};

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    max-width: #{100%/$i};
                }
            }
        }
        // Example: ls_5-row

        // -----------------------------------------------------------------------------
        //      Flex basis breakpoints
        //      This approach uses grid specified 1x24 (probably 24..)
        //      If you want the div to stretch 2/3 use ls_16, 
        //      if you want div to stretch 17/24 use ls_17
        // -----------------------------------------------------------------------------
        @for $i from 1 through $grid-columns {
            .#{$break}_#{$i} {
                flex: 0 0 #{$i * (100/$grid-columns)*1%};
                
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    max-width: #{$i * (100/$grid-columns)*1%};
                }
            }
        }
        // Example: ls_4
        
        @for $i from 1 through $grid-columns {
            .#{$break}_#{$i*100} {
                flex: 0 0 #{$i*100px};

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    min-width: #{$i*100px};
                }
            }
        }
        // Example: ls_1000

        @each $i in $custom-widths {
            .#{$break}_#{$i} {
                width: $i*1px;
                flex: 0 0 #{$i*1px};

                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    max-width: #{100%/$i};
                }
            }
        }

        // -----------------------------------------------------------------------------
        //      Display breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_flex {
            display: flex;
            flex-wrap: wrap;
            // border: solid 1px red;
            margin: -10px;
        
            & > * {
                padding: 10px;
            }
        }
        // Example: ls_flex

        .#{$break}_inline-flex {
            display: inline-flex;
            flex-wrap: wrap;
        }
        // Example: ls_inline-flex

        .#{$break}_grid {
            display: grid;
        }
        // Example: ls_grid

        .#{$break}_hidden {
            display: none;
        }
        // Example: ls_hidden

        .#{$break}_visible {
            display: inherit;
        }
        // Example: ls_visible

        // -----------------------------------------------------------------------------
        //      Justify breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_j-center {
            justify-content: center;
        }
        // Example: ls_j-center

        .#{$break}_j-around {
            justify-content: space-around;
        }
        // Example: ls_j-around

       .#{$break}_j-between {
            justify-content: space-between;
        }
        // Example: ls_j-between

        .#{$break}_j-stretch {
            justify-content: stretch;
        }
        // Example: ls_j-stretch

        .#{$break}_j-end {
            justify-content: flex-end;
        }
        // Example: ls_j-end

        .#{$break}_j-start {
            justify-content: flex-start;
        }
        // Example: ls_j-start

        // -----------------------------------------------------------------------------
        //      Align breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_a-between {
            align-items: space-between;
        }
        // Example: ls_a-between

        .#{$break}_a-around {
            align-items: space-around;
        }
        // Example: ls_a-around

        .#{$break}_a-stretch {
            align-content: stretch;
        }
        // Example: ls_a-stretch

        .#{$break}_a-center {
            align-items: center;
        }
        // Example: ls_a-center

        .#{$break}_a-end {
            align-items: flex-end;
        }
        // Example: ls_a-end

        .#{$break}_a-start {
            align-items: flex-start;
        }
        // Example: ls_a-start

        // -----------------------------------------------------------------------------
        //      Flex Direction breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_d-column {
            flex-direction: column;
        }
        // Example: ls_d-column


        .#{$break}_d-row {
            flex-direction: row;
        }
        // Example: ls_d-row

        .#{$break}_d-column-reverse {
            flex-direction: column-reverse;
        }
        // Example: ls_d-column-reverse

        .#{$break}_d-row-reverse {
            flex-direction: row-reverse;
        }
        // Example: ls_d-row-reverse

        // -----------------------------------------------------------------------------
        //      Flex Wrap breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_wrap {
            flex-wrap: wrap;
        }
        // Example: ls_wrap

        .#{$break}_nowrap {
            flex-wrap: nowrap;
        }
        // Example: ls_nowrap

        // -----------------------------------------------------------------------------
        //      Text align breakpoints
        // -----------------------------------------------------------------------------
        .#{$break}_t-left {
            text-align: left;
        }
        // Example: ls_t-left

        .#{$break}_t-center {
            text-align: center;
        }
        // Example: ls_t-center

        .#{$break}_t-right {
            text-align: right;
        }
        // Example: ls_t-right
    }
}