@import '~style/theme/settings';

.articles {
  display: block;
}

.heading {
  position: relative;
  line-height: 44px;

  &:after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: $B;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
