@import '~style/theme/settings';
@import '~style/helpers/media-queries';
@import '~style/helpers/mixins';

$sideMenuWidth: 250px;

.bodyWrapper, .bodyInner {
  display: block;
  height: 100%;
  width: 100%;
}

.bodyWrapper {

}

.bodyInner {
  padding: 0;
}

.bodySidemenu {
  width: $sideMenuWidth;
  height: 100vh;
  position: fixed;
  left: -$sideMenuWidth;
  top: 0;
  bottom: 0;
  border-right: solid 1px $gray3;
  background-color: $gray1;
  transition: left $trans ease;
  z-index: z('modal');

  @include mq('ts') {
    left: 0;
  }
}

.bodySidemenuOpen {
  transition: left $trans ease;
  left: 0;
}

.bodyMain {
  position: relative;
  height: calc(100vh - 52px);
  overflow: hidden; 
  margin-top: 52px;
  padding: 60px 0 120px;

  @include mq('ts') {
    margin-left: $sideMenuWidth;
  }
}

.bodyHeader {
  font-weight: 700;
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $F;
  border-bottom: solid 1px $gray2;
  z-index: z('header');

  @include mq('ts') {
    margin-left: $sideMenuWidth;
  }
}

.bodyContent {
  color: inherit;
}

.headerInner {
  display: block;
}

.bodyBackdrop {
  background-color: rgba($B, .1);
  z-index: z('backdrop');
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.open {
  .bodyBackdrop {
    opacity: 1;
    pointer-events: all;
  }
}