@import '~style/theme/settings';

$sideMenuWidth: 250px;

.bodyWrapper, .bodyInner {
  display: block;
  height: 100%;
  width: 100%;
}

.bodyWrapper {

}

.bodyInner {
  padding: 0;
}

.bodySidemenu {
  width: $sideMenuWidth;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: solid 1px $gray3;
  background-color: $gray1;
}

.bodyMain {
  position: relative;
  margin-left: $sideMenuWidth + 15px;
  height: 100vh;
  overflow: hidden;
}

.bodyHeader {
  font-weight: 700;
}

.bodyContent {
  color: inherit;
}
